<div class="col-lg-8 col-md-12 customer-table-wrapper">
    <mat-accordion>
        <mat-expansion-panel class="disable_ripple" *ngFor="let user of subCustomers; let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title style="width: 60%;">
                    <strong>{{user.emailId}}</strong>
                </mat-panel-title>
                <mat-panel-description>
                    Click to view details
                </mat-panel-description>
            </mat-expansion-panel-header>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab label="Online Form">
                        <app-finance-manager-form-molecule [userId]="user.emailId"></app-finance-manager-form-molecule>
                    </mat-tab>
                    <mat-tab label="Upload File">
                        <div class="xl-wrapper">
                            <input #excelInput hidden="true" type="file" onclick="this.value=null"
                            (change)="fileInputChange($event, i , user.emailId)"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                          <button mat-raised-button color="primary" (click)="excelInput.click()"
                            class="xl-btn">UPLOAD</button>
                           <button mat-raised-button color="primary" (click)="downloadFile($event)"
                            class="xl-btn">DOWNLOAD</button>
                          </div>
                    </mat-tab>
                </mat-tab-group>
        </mat-expansion-panel>
    </mat-accordion>
</div>