<section>
  <app-admin-filter-molecule></app-admin-filter-molecule>
  <app-admin-chart-molecule></app-admin-chart-molecule>
  <section class="setup-list">
    <ul>
      <li
        *ngFor="let navLink of financeNavLinks"
        (click)="changeAccordian()"
        (mouseenter)="navLink.url = navLink.HoverImgUrl"
        (mouseleave)="navLink.url = navLink.imgUrl"
      >
        <a routerLink="/hrms" title="{{ navLink.name }}">
          <img class="img-fluid" [src]="navLink.url" alt="{{ navLink.name }}" />
          <span>{{ navLink.name }}</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="form-container">
    <div class="header-label">
      <span class="hr-image">
        <img class="img-fluid" [src]="hrImage" alt="logo" />
      </span>
      <span class="admin-name">PO Creation</span>
    </div>
    <app-finance-form-molecule></app-finance-form-molecule>
  </section>
</section>
