
.setup-list {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
            width: 200px;
            display: flex;
            height: 85px;
            background-color: #2E7FBE;
            margin: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                img {
                    width: 50px;
                    height: 50px;
                }
                span {
                    font-size: 12px;
                    padding-top: 3px;
                }
            }
            &:hover {
                background-color: 	#A5EF0D;
                span {
                    color: black;
                }
            }
        }
    }
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .header-label {
      padding: 15px 0;
      img {
          width: 30px;
          height: 30px;
      }
      span {
          padding-left: 15px;
          font-size: 14px;
      }
  }
