<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">SAR</p>
                        <h3 class="card-title">25,000
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats text-center">
                            <h3>your Balance</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">SAR</p>
                        <h3 class="card-title">5,000
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats text-center">
                            <h3>your saving this month</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">SAR</p>
                        <h3 class="card-title">7,000
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats text-center">
                            <h3>Operating profit Margin</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <p class="card-category">SAR</p>
                        <h3 class="card-title">8,000
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats text-center">
                            <h3>Net Margin</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>