.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    font-size: .875rem;
    word-wrap: break-word;
    border: 0;
    margin:30px 0;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    .card-header-warning{
        .card-icon{
            background: linear-gradient(60deg,#ffa726,#fb8c00);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
        }
    }
    .card-header-success{
        .card-icon{
            background: linear-gradient(60deg,#66bb6a,#43a047);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
        }
    }
    .card-header-info{
        .card-icon{
            background: linear-gradient(60deg,#26c6da,#00acc1);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
        }
    }
    .card-header-danger{
        .card-icon{
            background: linear-gradient(60deg,#ef5350,#e53935);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
        }
    }
    .card-header{
        margin: 0 15px;
        padding: 0;
        position: relative;
        color: #999;
        font-size: 14px;
        border:0;
        .card-icon{
            text-align: right;
            border-radius: 3px;
            padding: 15px;
            margin-top: -20px;
            margin-right: 15px;
            float: left;
            color:#fff;
            i{
                font-size: 36px;
                line-height: 56px;
                width: 56px;
                height: 56px;
                text-align: center;
            }
        }
        .card-category{
            text-align: right;
        }
        .card-title{
            margin: 30px 0;
            color: #3c4858;
            font-size: 1.5rem;
            text-align: right;
        }
    }
    .card-footer{
        .stats{
            h3{
                font-size: 1rem;
                color: #999;
            }

        }

    }
}
