<section class="container-fluid nav-container">
  <app-logo-molecule [logoUrl]="logoUrl" displayType="logo-container"></app-logo-molecule>
  <nav>
    <ul>
      <li *ngFor="let link of headerNavLinks">
        <a routerLink='/superAdmin' *ngIf="link.linkName.toUpperCase() === 'SERVICES' && isSuperAdmin" alt="">{{link.linkName}}</a>
        <a routerLink="{{link.url}}" *ngIf="link.linkName.toUpperCase() !== 'SERVICES'" alt="">{{link.linkName}}</a>
      </li>
    </ul>
  </nav>
  <!-- <app-cart-molecule class="cart-container"></app-cart-molecule> -->
</section>
<section class="mobile-nav-container">
    <div id="mySidenav" class="mobile-sidenav">
      <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()">&times;</a>
      <ul>
        <li  *ngFor="let link of headerNavLinks">
          <a routerLink='/superAdmin' *ngIf="link.linkName.toUpperCase() === 'SERVICES' && isSuperAdmin" title="">{{link.linkName}}</a>
          <a routerLink="{{link.url}}" *ngIf="link.linkName.toUpperCase() !== 'SERVICES'"  title="">{{link.linkName}}</a>
        </li>
      </ul>
    </div>
    <span class="hamburger" style="font-size:30px;cursor:pointer"  (click)="openNav()">&#9776;</span>
    <app-logo-molecule [logoUrl]="logoUrl" displayType="mobile-logo-container"></app-logo-molecule>
</section>
