@import "../../../../assets/css/constants.scss";

.summary-container {
        padding-left: 40px;
    h4 {
        margin: 20px 0;
    }
    .amt-details {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    .amt-left {
        flex: 1;
    }
    .amt-right {
        flex: 1;
        text-align: right;
    }
    }
    .total {
        font-weight: bold;
    }
    .primary-btn {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white !important;
        font-size: 20px;
        font-weight: 400;
        height: 48px;
        max-height: 48px;
        width: 100%;
        margin: 20px 0;
        &:hover {
            background-color: $primary-color;
        }
        &:active{
            outline:0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .summary-container {
        padding: 0 30px;
    } 
}
