<section>
    <app-admin-filter-molecule></app-admin-filter-molecule>
    <app-admin-chart-molecule></app-admin-chart-molecule>
    <section class="setup-list">
        <ul>
            <li *ngFor="let navLink of setupNavLinks" 
            (click)="changeAccordian() " [ngClass]="{'active-bar': navTab == navLink.name}"
            (mouseenter)="navLink.url = navLink.HoverImgUrl" (mouseleave)="navLink.url = navLink.imgUrl">
                <a href="javascript:void(0)" title={{navLink.name}}>
                    <img class="img-fluid" [src]="navLink.url" alt={{navLink.name}}>
                    <span>{{navLink.name}}</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="form-container">
        <div class="header-label">
            <span class="hr-image">
                <img class="img-fluid" [src]="hrImage" alt="logo">
            </span>
            <span class="admin-name">Master Data Setup</span>
        </div>
        <mat-tab-group>
            <mat-tab label="Online Form">
                <app-hrms-form-molecule></app-hrms-form-molecule>
            </mat-tab>
            <mat-tab label="Upload File">
                <app-admin-upload-molecule></app-admin-upload-molecule>
            </mat-tab>
          </mat-tab-group>
                  
    </section>
</section>
