<section class="container">
    <h2 class="col-12 text-center mt-30 mb-30">About US</h2>
    <div class="col-12 mb-50">
        <img class="img-fluid" src="../../../../assets/images/slideimage.jpg" alt="aboutUS" />
    </div>
    <div class="col-12 mb-50 clearfix">
        {{aboutUsContent.content}}
    </div>
   
</section>
