<section class="upload-container">
    <div>
        <input
        #excelInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="fileInputChange($event)"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <!-- <button mat-flat-button color="primary" (click)="excelInput.click()">Choose File (Excel)</button>  -->
        <button mat-raised-button color="primary" (click)="excelInput.click()"
        class="xl-btn">UPLOAD</button>
    </div>
    <div>
        <mat-form-field class="email-field" appearance="standard">
            <input matInput placeholder=""  [value]="fileSelected"  required autocomplete="off" disabled/>
          </mat-form-field>
          <!-- <button mat-flat-button color="primary" (click)="onFileUpload($event)">Upload</button> -->
    </div>
    <button mat-raised-button color="primary" (click)="downloadFile($event)"
    class="xl-btn">DOWNLOAD</button>
</section>