<div class="container">
    <div class="logo-section mb-30 clearfix">
      <h2 class="title text-center mt-30">OUR VALUABLE CLIENTS</h2>
      <div class="row clearfix client-logos mt-50">
    
          <div *ngFor="let logo of clientLogos" class="col-xs-4 col-md-3 mx-auto text-center mb-50">
            <img  class="img-fluid mx-auto img-grayscale" src= "{{hostName +logo.media.url}}" alt="{{logo.name}}" />
        </div>
     
      </div>
    </div>
  </div>
