/********************Custom Variables **************************/
$white: #ffffff;
$black: #000000;
$primary-color: #a7f108;
$secondary-color: #337ab7;
$border-color:  rgba(255, 255, 255, 0.6);
$form-bg: #f7f7f7;
$blue-color: #1589FF;
.text-white {
    color: #fff;
  }
  .secondary-bg {
    background: #000;
  }
  .primary-color {
    color: #a7f108;
  }
  .no-margin {
    margin: 0;
  }
  .no-padding {
    padding: 0;
  }
  .margin-auto {
    margin: 0 auto;
  }
  .font-bold {
    font-weight: 800;
  }
  .font-semi-bold {
    font-weight: 600;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .pr-20 {
    padding-right: 20px;
  }
  .bg-white {
    background: #fff;
  }
  .font-roboto-reg{
    font-family: "Roboto-Regular";
  }
  .font-roboto-bold{
    font-family: 'Roboto-Bold';
  }
  .font-roboto-black{
    font-family: 'Roboto-Black';
  }
