<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Customer Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form  [formGroup]="customerInfo">
        <mat-form-field class="email-field" appearance="standard">
            <mat-label>BP code</mat-label>
            <input matInput placeholder="" [value]="customerInfo.value.bpCode" formControlName="bpCode"   autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.bpCode">
              <mat-error class="error-message" *ngIf="  
              customerInfo.get('bpCode').hasError(validation.type) &&
                  (customerInfo.get('bpCode').dirty ||
                  customerInfo.get('bpCode').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" [value]="customerInfo.value.name"   autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.name">
              <mat-error class="error-message" *ngIf="  
              customerInfo.get('name').hasError(validation.type) &&
                  (customerInfo.get('name').dirty ||
                  customerInfo.get('name').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Address</mat-label>
            <input matInput placeholder="" formControlName="address" [value]="customerInfo.value.address"   autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.address">
                <mat-error class="error-message" *ngIf="  
                customerInfo.get('address').hasError(validation.type) &&
                    (customerInfo.get('address').dirty ||
                    customerInfo.get('address').touched)">{{ validation.message }}</mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Vat Number</mat-label>
            <input matInput placeholder="" formControlName="vatNumber" [value]="customerInfo.value.vatNumber"   autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.vatNumber">
              <mat-error class="error-message" *ngIf="  
              customerInfo.get('vatNumber').hasError(validation.type) &&
                  (customerInfo.get('vatNumber').dirty ||
                  customerInfo.get('vatNumber').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Currency</mat-label>
            <input matInput placeholder="" formControlName="currency" [value]="customerInfo.value.currency"   autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.currency">
                <mat-error class="error-message" *ngIf="  
                customerInfo.get('currency').hasError(validation.type) &&
                    (customerInfo.get('currency').dirty ||
                    customerInfo.get('currency').touched)">{{ validation.message }}</mat-error>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="email-field" appearance="standard">
            <mat-label>Financial Group</mat-label>
            <input matInput placeholder="" formControlName="financialGroup" [value]="customerInfo.value.financialGroup"   autocomplete="off" />
            <mat-error *ngFor="let validation of validationMessages.financialGroup">
              <mat-error class="error-message" *ngIf="  
              customerInfo.get('financialGroup').hasError(validation.type) &&
                  (customerInfo.get('financialGroup').dirty ||
                  customerInfo.get('financialGroup').touched)">{{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Supplier Info
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form  [formGroup]="supplierInfo">
          <mat-form-field class="email-field" appearance="standard">
              <mat-label>BP code</mat-label>
              <input matInput placeholder=""  [value]="supplierInfo.value.bpCode" formControlName="bpCode"   autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.bpCode">
                <mat-error class="error-message" *ngIf="  
                supplierInfo.get('bpCode').hasError(validation.type) &&
                    (supplierInfo.get('bpCode').dirty ||
                    supplierInfo.get('bpCode').touched)">{{ validation.message }}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput placeholder="" formControlName="name" [value]="supplierInfo.value.name"  autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.name">
                <mat-error class="error-message" *ngIf="  
                supplierInfo.get('name').hasError(validation.type) &&
                    (supplierInfo.get('name').dirty ||
                    supplierInfo.get('name').touched)">{{ validation.message }}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="standard">
              <mat-label>Address</mat-label>
              <input matInput placeholder="" formControlName="address" [value]="supplierInfo.value.address"  autocomplete="off" />
                <mat-error *ngFor="let validation of validationMessages.address">
                  <mat-error class="error-message" *ngIf="  
                  supplierInfo.get('address').hasError(validation.type) &&
                      (supplierInfo.get('address').dirty ||
                      supplierInfo.get('address').touched)">{{ validation.message }}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="standard">
              <mat-label>Vat Number</mat-label>
              <input matInput placeholder="" formControlName="vatNumber" [value]="supplierInfo.value.vatNumber"   autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.vatNumber">
                <mat-error class="error-message" *ngIf="  
                supplierInfo.get('vatNumber').hasError(validation.type) &&
                    (supplierInfo.get('vatNumber').dirty ||
                    supplierInfo.get('vatNumber').touched)">{{ validation.message }}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="standard">
              <mat-label>Currency</mat-label>
              <input matInput placeholder="" formControlName="currency" [value]="supplierInfo.value.currency"   autocomplete="off" />
                <mat-error *ngFor="let validation of validationMessages.currency">
                  <mat-error class="error-message" *ngIf="  
                  supplierInfo.get('currency').hasError(validation.type) &&
                      (supplierInfo.get('currency').dirty ||
                      supplierInfo.get('currency').touched)">{{ validation.message }}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="email-field" appearance="standard">
              <mat-label>Financial Group</mat-label>
              <input matInput placeholder="" formControlName="financialGroup" [value]="supplierInfo.value.financialGroup"  autocomplete="off" />
              <mat-error *ngFor="let validation of validationMessages.financialGroup">
                <mat-error class="error-message" *ngIf="  
                supplierInfo.get('financialGroup').hasError(validation.type) &&
                    (supplierInfo.get('financialGroup').dirty ||
                    supplierInfo.get('financialGroup').touched)">{{ validation.message }}</mat-error>
              </mat-error>
            </mat-form-field>
        </form>
      </mat-expansion-panel>
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Item Info
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="itemInfo" >
        <mat-form-field appearance="standard">
          <mat-label>Item Code</mat-label>
          <input  matInput formControlName="itemCode" placeholder="" [value]="itemInfo.value.itemCode"   autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.itemCode">
            <mat-error class="error-message" *ngIf="  
            itemInfo.get('itemCode').hasError(validation.type) &&
                (itemInfo.get('itemCode').dirty ||
                itemInfo.get('itemCode').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <input type="text" matInput placeholder="" formControlName="description" [value]="itemInfo.value.description"   autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.description">
            <mat-error class="error-message" *ngIf="  
            itemInfo.get('description').hasError(validation.type) &&
                (itemInfo.get('description').dirty ||
                itemInfo.get('description').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Item Type</mat-label>
          <mat-select formControlName="itemType"    [(value)]="itemInfo.value.itemType">
            <mat-option [value]="'Purchase'">Purchase</mat-option>
            <mat-option [value]="'Manufacturing '">Manufacturing </mat-option>
            <mat-option [value]="'Cost'">Cost</mat-option>
            <mat-option [value]="'Service'">Service</mat-option>
            <mat-option [value]="'List'">List</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Item Group</mat-label>
          <input type="text" matInput placeholder="" [value]="itemInfo.value.itemGroup" formControlName="itemGroup"   autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.itemGroup">
            <mat-error class="error-message" *ngIf="  
            itemInfo.get('itemGroup').hasError(validation.type) &&
                (itemInfo.get('itemGroup').dirty ||
                itemInfo.get('itemGroup').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Unit Set</mat-label>
          <input type="text" matInput placeholder="" [value]="100" formControlName="unitSet" [attr.disabled]='true'  autocomplete="off" />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Inventory Unit</mat-label>
          <input type="text" matInput placeholder="" formControlName="inventoryUnit" [value]="itemInfo.value.inventoryUnit"   autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.inventoryUnit">
            <mat-error class="error-message" *ngIf="  
            itemInfo.get('inventoryUnit').hasError(validation.type) &&
                (itemInfo.get('inventoryUnit').dirty ||
                itemInfo.get('inventoryUnit').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Currency</mat-label>
          <input  matInput placeholder="" [value]="itemInfo.value.currency" formControlName="currency"   autocomplete="off" />
          <mat-error *ngFor="let validation of validationMessages.currency">
            <mat-error class="error-message" *ngIf="  
            itemInfo.get('currency').hasError(validation.type) &&
                (itemInfo.get('currency').dirty ||
                itemInfo.get('currency').touched)">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button (click)="onSubmitForm()" [disabled]="!customerInfo.valid && !supplierInfo.valid && !itemInfo.valid"  class="submit-btn">
    {{buttonName}}
  </button>