<section class="news-letter-section">
  <form class="example-form">
    <!-- <mat-card-title class="title">SINGUP FOR NEWS LETTER </mat-card-title> -->
    <div class="row">
      <div class="sign-up-input-field col-12 mx-auto">
        <div class="embed-responsive embed-responsive-4by3">
        <video class="video-wrapper" playsinline="playsinline" controls>
          <source src="{{hostName + videoUrl.media.url}}" type="video/mp4">
        </video>
      </div>
      </div>
    </div>
  </form>
  </section>