@import '../../../../assets/css/constants.scss';
.news-letter-section {
  background: url('../../../../assets/images/slideimage.jpg');
  width: 100%;
  padding: 0 10%;
  text-align: center;
  .title {
    font-size: 34px;
    font-family: 'Roboto-Medium';
    margin: 0 auto;
    color:$white;
    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 8%;
      padding-top: 15px;
      border-bottom: 4px solid $primary-color;
    }
  }
}
.video-wrapper{
  outline: 0;
}
.sign-up-input-field{
  input{
    padding: 0.375rem 0.75rem;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid $white;
    width: 50%;
  }
  .signup-btn{
    color: $black;
    padding: 0.375rem 0.75rem;
    background: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
  }
}