.mobile-logo-container {
    display: none;
}
:host {
    width: 20%;
    display: block;
    padding: 0 10px;
}

.logo-container img {
    max-width: 80%;
}
@media only screen and (max-width: 768px) {
    :host {
        display: flex;
        justify-content: center;
        width: 80%
    }
    .mobile-logo-container {
        display: block;
        img {
            width: 200px;
        }
    } 
}