/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  /********************Custom code **************************/
  .text-white{
    color:#fff;
  }
  .secondary-bg{
    background: #000;
  }
  .primary-color{
    color:#A7F108;
  }
  .no-margin{
    margin:0
  }
  .no-padding{
    padding:0;
  }
  .margin-auto{
    margin: 0 auto;
  }
  .font-bold{
    font-weight: 800;
  }
  .font-semi-bold{
    font-weight: 600;
  }
  .mb-30{
    margin-bottom: 30px;
  }
  .mb-50{
    margin-bottom: 50px;
  }
  .pr-20{
    padding-right: 20px;
  }
  .bg-white{
    background: #fff;
  }
  .demo-video{
    position: relative;
  }
  .play-img{
    position: absolute;
    left:40%;
    top:40%;
  }
  .text-uppercase{
    text-transform: uppercase;
  }
  .form-border-left{
      border-left: 4px solid #a7f108;
  }
  /*======================================*/
  .btn-primary {
    background-color: #A7F108;
    color: #000;
    border: 1px solid #A7F108;
    outline: none;
    /*border-radius: 20px;*/
    padding: 6px 40px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
  }
  .icon_section h2 {
    margin: 40px;
  }
/*   .icon_section h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 15px;
    border-bottom: 4px solid #a7f108;
  } */
  .icon_section .icon-box a {
    display: block;
    text-decoration: none;
  }
  .icon_section .icon-box a .icon-box-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .icon_section .icon-box a .icon-box-icon img {
    width: 100px;
    height: 100px;
  }
  .icon_section .icon-box a .icon-box-content h3 {
    font-size: 1.4rem;
  }
  .icon_section h2 {
    margin: 40px;
  }
/*   .icon_section h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 15px;
    border-bottom: 4px solid #a7f108;
  } */
  .icon_section .icon-box a {
    display: block;
    text-decoration: none;
  }
  .icon_section .icon-box a .icon-box-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .icon_section .icon-box a .icon-box-icon img {
    width: 100px;
    height: 100px;
  }
  .icon_section .icon-box a .icon-box-content h3 {
    font-size: 1.4rem;
  }
  /***********Download app *****************/
  .app_store_dn{
  background: url("../images/download_app_bg.jpg");
  }
  .top_header {
    padding: 20px 10px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }
  .top_header .top_section_left {
    justify-content: flex-start;
    display: flex;
  }
  .top_header .top_section_left .top-icon {
    font-size: 1.1em;
  }
  .top_header .top_section_right {
    justify-content: flex-end;
    display: flex;
  }
  .form-field{
	background: #f7f7f7;
    /*border-radius: 15px;*/
    border-left: 4px solid #a7f108;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  .copyrights-wrapper .min-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
  }
  .copyrights-wrapper .copyright-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
    padding: 30px 0;
  }
  .footer-sidebar {
    padding: 50px 10px;
  }
  .footer-sidebar .footer-column h5 {
    font-size: 1.1em;
    font-weight: bold;
  }
  .footer-sidebar .footer-column a {
    color: #fff;
    display: block;
    padding: 5px 0;
    text-decoration: none;
  }
  .footer-sidebar .footer-column-5 a {
    display: block;
    padding: 10px 0;
  }
  .news-letter-section #search-form_3 {
    background: #fff;
    /* Fallback color for non-css3 browsers */
  
    width: 50%;
    margin: 30px auto;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
  }
  .news-letter-section .search_3 {
    background: #fafafa;
    /* Fallback color for non-css3 browsers */
  
    border: 0;
    font-size: 16px;
    padding: 9px;
    width: 80%;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
  }
  .news-letter-section .search_3:focus {
    outline: none;
    background: #fff;
    /* Fallback color for non-css3 browsers */
  
  }
  .news-letter-section .submit_3 {
    background: #A7F108;
    /* Fallback color for non-css3 browsers */
  
    border: 0;
    color: #000;
    cursor: pointer;
    float: right;
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
    height: 40px;
    width: 95px;
    outline: none;
    /* Rounded Corners */
  
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  }
  .news-letter-section .submit_3:hover {
    background: #A7F108;
    /* Fallback color for non-css3 browsers */
  
  }
  .news-letter-section .submit_3:active {
    background: #A7F108;
    /* Fallback color for non-css3 browsers */
  
  }
  #search-form_3 input{
  
  width:85%;
  
  }
  .client-logos {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .client-logos .img-grayscale {
    filter: gray;
    /* IE6-9 */
  
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
  
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
  
    cursor: pointer;
  }
  .client-logos .img-grayscale:hover {
    opacity: 1;
    filter: grayscale(0);
  }
   
  .navbar.navbar-inverse {
    background-color: #000;
    border-color: #000;
  }
  .navbar .navbar-nav li a {
    color: #fff;
    font-size: 0.9em;
  }
  .navbar .navbar-nav li.active a:after {
    border-bottom: 2px solid #A7F108;
    content: '';
    display: block;
    padding-top: 5px;
  }
  .carousel-heading {
    top: 20%;
  }
  .carousel-heading button {
    margin-top: 50px;
  }
  .register__section, .login-section{
  	max-width: 100%;
    background: #fff;
    box-shadow: 0 3px 36px rgba(0, 0, 0, .09);
    padding: 40px;
    margin: 40px auto;
  }
  .form-control:focus {
    border-color: #004F94;
    outline:none;
    box-shadow:none;
  }
  .btn-default{
      background: #004F94;
    color: #fff;
  }
 .clearfix{
  clear:none;
  }
  .btn, .btn-large, .btn-small {
    background-color: #A7F108;
    color: #000;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {

border-bottom: 1px solid #004F94;
	-webkit-box-shadow: 0 1px 0 0 #004F94;
	box-shadow: 0 1px 0 0 #004F94;

}


    

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #004F94;

}

