<div class="logo-container">
    <a class="logo-img" routerLink="/hrms" title="hrms" *ngIf="logoUrl !== undefined">
        <img class="img-fluid" [src]="hostName + logoUrl" alt="logo">
    </a>
</div>
<nav class="admin-nav">
    <ul>
        <li *ngFor="let navLink of adminNavLinks" (click)="navClick(navLink)" 
        [ngClass]="{'active-bar': navClickValue == navLink.routerLink && navLink.active}" 
        [ngStyle]="(!navLink.active && (userType === 'Admin')) && {'pointer-events': 'none'}">
            <a *ngIf="navLink.active" routerLink={{navLink.routerLink}} title={{navLink.name}}>
                <img class="img-fluid" [src]="navLink.imgUrl" alt={{navLink.name}}>
            </a>
            <a *ngIf="!navLink.active" href="javascript:void(0)" title={{navLink.name}}>
                <img class="img-fluid" [src]="navLink.imgUrl" alt={{navLink.name}}>
            </a>
        </li>
    </ul>
</nav>
<!-- <nav class="verify-admin-nav" *ngIf ="(userType === 'VerificationUser') || (userType === 'FinanceManager')">
    <ul class="list-unstyled">
        <li>
            <mat-icon matSuffix>dashboard</mat-icon> 
            <p>Dashboard</p>
        </li>
    </ul>
</nav> -->
<!--  -->