@import "../../../../assets/css/constants.scss";


.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    mat-form-field {
        width: 45%;
    }
  }
  @media only screen and (max-width: 768px) {
    mat-form-field {
        width: 95% !important;
    }
  }

  button {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: $white !important;
    font-size: 20px;
    font-weight: 400;
    height: 48px;
    max-height: 48px;
    margin: 20px auto;
    display: flex;
    width: 250px;
    justify-content: center;
  }

  .button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  mat-expansion-panel mat-form-field {
    margin: 0 10px;
  }