<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step>
    <form [formGroup]="POCreationFormGroup">
      <ng-template matStepLabel>PO Creation</ng-template>
      <mat-form-field>
        <mat-label>Supplier</mat-label>
        <mat-select name="supplier" formControlName="supplier">
          <mat-option *ngFor="let supplierId of supliers" [value]="supplierId.bpCode">
            {{supplierId.bpCode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Item Code</mat-label>
        <mat-select name="itemCode" formControlName="itemCode">
          <mat-option *ngFor="let item of itemCodes" [value]="item.itemCode" (click)="updateItemDetails(item)">
            {{item.itemCode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Item Description</mat-label>
        <input matInput placeholder="Item Description" formControlName="itemDescription" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input type="number" matInput (keyup)="updateAmount()" placeholder="Quantity" formControlName="quantity" required>
      </mat-form-field>
        <mat-form-field>
          <mat-label>Unit</mat-label>
          <input type="number" matInput placeholder="unit" formControlName="unit" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select name="currency" formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{currency}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input type="number" matInput (keyup)="updateAmount()" placeholder="Price" formControlName="price" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input type="number" matInput placeholder="Amount" formControlName="amount" required disabled>
        </mat-form-field>
        <div>
          <button mat-button [disabled]="!POCreationFormGroup.valid" (click)="submitInvoice()">Submit</button>
        </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="materialReceivingFormGroup">
      <ng-template matStepLabel>Material Receiving</ng-template>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            Step 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>PO Number</mat-label>
            <mat-select name="poNumber" formControlName="poNumber">
              <mat-option *ngFor="let poNumber of poNumbers" [value]="poNumber.purchaseOrder" (click)="updatePODetails(poNumber)">
                {{poNumber.purchaseOrder}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Supplier</mat-label>
            <mat-select name="supplier" formControlName="supplier">
              <mat-option *ngFor="let supplier of poNumbers" [value]="supplier.supplier" (click)="updatePODetails(supplier)">
                {{supplier.supplier}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Item Code</mat-label>
            <mat-select name="itemCode" formControlName="itemCode">
              <mat-option *ngFor="let item of poNumbers" [value]="item.item" (click)="updatePODetails(item)">
                {{item.item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Item Description</mat-label>
            <input matInput placeholder="Item Description" formControlName="itemDescription" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="quantity" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Unit</mat-label>
            <input matInput placeholder="unit" formControlName="unit" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select name="currency" formControlName="currency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Price" formControlName="price" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="Amount" formControlName="amount" required>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 2
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Invoice Number</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="invoiceNumber" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Invoice Amount</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="invoiceAmount" required>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Invoice Date</mat-label>
            <input matInput readonly [matDatepicker]="picker" formControlName="invoiceDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select name="currency" formControlName="invoiceCurrency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="button-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="moveToReview()" [disabled]="!materialReceivingFormGroup.valid">Review</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="materialReceivingFormGroup">
      <ng-template matStepLabel>Review</ng-template>
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="reviewExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title>
            Step 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>PO Number</mat-label>
            <mat-select name="poNumber" formControlName="poNumber">
              <mat-option *ngFor="let poNumber of poNumbers" [value]="poNumber.purchaseOrder" (click)="updatePODetails(poNumber)">
                {{poNumber.purchaseOrder}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Supplier</mat-label>
            <mat-select name="supplier" formControlName="supplier">
              <mat-option *ngFor="let supplier of poNumbers" [value]="supplier.supplier" (click)="updatePODetails(supplier)">
                {{supplier.supplier}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Item Code</mat-label>
            <mat-select name="itemCode" formControlName="itemCode">
              <mat-option *ngFor="let item of poNumbers" [value]="item.item" (click)="updatePODetails(item)">
                {{item.item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Item Description</mat-label>
            <input matInput placeholder="Item Description" formControlName="itemDescription" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="quantity" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Unit</mat-label>
            <input matInput placeholder="unit" formControlName="unit" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select name="currency" formControlName="currency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Price" formControlName="price" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="Amount" formControlName="amount" required>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="reviewExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 2
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Invoice Number</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="invoiceNumber" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Invoice Amount</mat-label>
            <input type="number" matInput placeholder="Quantity" formControlName="invoiceAmount" required>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Invoice Date</mat-label>
            <input type="text" matInput [(value)]="reviewDate" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select name="currency" formControlName="invoiceCurrency">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <div class="button-container">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submitReviewData()">Submit</button>
    </div>
  </mat-step>
  <mat-step>
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel>Payment</ng-template>
      <mat-form-field>
        <mat-label>Transaction Entry Date</mat-label>
        <input matInput readonly [matDatepicker]="picker1" formControlName="transactionEntryDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Document Date</mat-label>
        <input matInput readonly [matDatepicker]="picker2" formControlName="documentDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type Of Transaction</mat-label>
        <mat-select name="typeOfTransaction" formControlName="typeOfTransaction">
          <mat-option *ngFor="let transaction of typesOfTransactions" [value]="transaction">
            {{transaction}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Supplier</mat-label>
        <mat-select name="supplier" formControlName="supplier">
          <mat-option *ngFor="let supplier of supplierReceived" [value]="supplier.supplier" (click)="updatePo(supplier.supplier)">
            {{supplier.supplier}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Po Number</mat-label>
        <mat-select name="poNumber" formControlName="poNumber">
          <mat-option *ngFor="let poType of poTypeAtPayment" [value]="poType.purchaseOrder">
            {{poType.purchaseOrder}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select name="currency" formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount In Bank Currency</mat-label>
        <input matInput placeholder="Amount In Bank Currency" formControlName="amountInBankCurrency" required>
      </mat-form-field>
      <div class="button-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!paymentFormGroup.valid" (click)="submitPayment()">Submit Payment</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>