<div class="hrms-wrapper">
    <section class="title">
        <a routerLink="/superAdmin">
            < Super Admin</a>
                <h4>FINANCE</h4>
    </section>

    <!-- <div class="row video-section no-margin">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-21by9">
              <div class='row'>
                <video *ngFor="let data of financePortalData" class="col-lg-6" playsinline="playsinline" controls>
                    <source src="{{hostName + data.media.url}}" type="video/mp4">
                </video>
              </div>
            </div>
        </div>
    </div> -->
    <div class="video-section"> 
        <div id="home{{i+1}}"  *ngFor="let data of financePortalData; let i = index">
         <video height="300" poster="images/video.jpg" controls="controls" playsinline="playsinline"> 
            <source src="{{hostName + data.media.url}}" type="video/mp4">
         </video>
        </div>
    </div>

    <div class='row container no-margin sections-wrapper'>
        <div class="col-lg-6 col-md-12 reg-form-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Create an employee
                        </mat-panel-title>
                        <mat-panel-description>
                            <span *ngIf='!disableCreateUserForm'>Click to view details</span>
                            <span *ngIf='disableCreateUserForm'>Reached maximum limit</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <form [formGroup]="createUserForm" *ngIf="verificationId"
                        (ngSubmit)="createAdmin(createUserForm.value)" autocomplete="off">

                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="emailId" required>
                                <mat-error *ngFor="let validation of validationMessages.emailId">
                                    <mat-error class="error-message" *ngIf="
                            createUserForm.get('emailId').hasError(validation.type) &&
                                (createUserForm.get('emailId').dirty ||
                                createUserForm.get('emailId').touched)
                              ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="name" required>
                                <mat-error *ngFor="let validation of validationMessages.name">
                                    <mat-error class="error-message" *ngIf="
                            createUserForm.get('name').hasError(validation.type) &&
                                (createUserForm.get('name').dirty ||
                                createUserForm.get('name').touched)
                              ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Employee ID</mat-label>
                                <input matInput  placeholder="Employee ID" formControlName="employeeId"
                                    required>
                                <mat-error *ngFor="let validation of validationMessages.employeeId">
                                    <mat-error class="error-message" *ngIf="
                            createUserForm.get('employeeId').hasError(validation.type) &&
                                (createUserForm.get('employeeId').dirty ||
                                createUserForm.get('employeeId').touched)
                              ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Iqama ID</mat-label>
                                <input matInput  placeholder="Iqama ID" formControlName="iqamaId" required>
                                <mat-error *ngFor="let validation of validationMessages.iqamaId">
                                    <mat-error class="error-message" *ngIf="
                            createUserForm.get('iqamaId').hasError(validation.type) &&
                                (createUserForm.get('iqamaId').dirty ||
                                createUserForm.get('iqamaId').touched)
                              ">{{ validation.message }}</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard">
                                <mat-label>Customer Role</mat-label>
                                <mat-select disableRipple formControlName="customerRole" required>
                                    <mat-option value="CEO">CEO</mat-option>
                                    <mat-option value="CFO">CFO</mat-option>
                                    <mat-option value="FinanceController">Finance Controller</mat-option>
                                    <mat-option value="FinanceHead">Finance Head</mat-option>
                                    <mat-option value="FinanceManager">Finance Manager</mat-option>
                                    <mat-option value="FinanceAnalyst">Finance Analyst</mat-option>
                                    <mat-option value="VerificationUser">Verification User</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <button mat-raised-button [disabled]="!createUserForm.valid" class="reg-btn">Create
                                User</button>
                        </p>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-6 col-md-12 customer-table-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="disable_ripple">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Employee Details
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to view details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table matSort>
                        <tr>
                            <th mat-sort-header="name">User Id</th>
                            <th mat-sort-header="calories">Status</th>
                            <th mat-sort-header="fat">Action</th>
                        </tr>

                        <tr *ngFor="let user of subCustomersData">
                            <td>{{user.emailId}}</td>
                            <td *ngIf="user.active">Active</td>
                            <td *ngIf="!user.active">Inactive</td>
                            <td *ngIf="user.active"> NIL</td>
                            <td *ngIf="!user.active">
                                <button mat-raised-button  class="reg-btn"
                                    (click)="retrigger(user.emailId)"> Retrigger email</button>
                            </td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-12 auth-mat-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="disable_ripple">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Set Authorization Matrix
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to view details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table matSort>
                        <tr *ngFor="let user of subCustomersData; let i = index">
                            <td>
                                <strong>
                                    <i *ngIf='!toggle[i]' class="material-icons"
                                        (click)='getMatCustomers(user.emailId , i)'> add</i>
                                    <i *ngIf='toggle[i]' class="material-icons" (click)="toggleIcon(i, 'close')">
                                        remove</i>
                                    <span>{{user.emailId}}</span>
                                </strong>
                                <div *ngIf='toggle[i]' class='levels-wrapper'>
                                    <button mat-raised-button color="primary" class="reg-btn" [disabled]="approver3"
                                        (click)="openNextLevel()">ADD</button>
                                    <mat-list *ngIf="approver1">
                                        <strong>LEVEL 1</strong>
                                        <mat-form-field>
                                            <mat-label>Select an option</mat-label>
                                            <mat-select [(value)]="approver1">
                                                <ng-template ngFor let-approver [ngForOf]="dropdownList">
                                                    <mat-option value="{{approver}}" *ngIf="approver !== user.emailId">
                                                        {{approver}}
                                                    </mat-option>
                                                </ng-template>                                           
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-raised-button class="set-btn" [disabled]="approver1 == 'x'"
                                            (click)="addApprover('1', user.emailId)">
                                            SET
                                        </button>
                                    </mat-list>
                                    <mat-list *ngIf="approver2">
                                        <strong>LEVEL 2</strong>
                                        <mat-form-field>
                                            <mat-label>Select an option</mat-label>
                                            <mat-select [(value)]="approver2">
                                                <mat-option value="{{approver}}" *ngFor="let approver of dropdownList">
                                                    {{approver}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-raised-button class="set-btn" [disabled]="approver2 == 'x'"
                                            (click)="addApprover('2', user.emailId)">
                                            SET
                                        </button>
                                    </mat-list>
                                    <mat-list *ngIf="approver3">
                                        <strong>LEVEL 3</strong>
                                        <mat-form-field>
                                            <mat-label>Select an option</mat-label>
                                            <mat-select [(value)]="approver3">
                                                <mat-option value="{{approver}}" *ngFor="let approver of dropdownList">
                                                    {{approver}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-raised-button class="set-btn" [disabled]="approver3 == 'x'"
                                            (click)="addApprover('3', user.emailId)">
                                            SET
                                        </button>
                                    </mat-list>
                                </div>
                            </td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-12 master-data-wrapper">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="disable_ripple">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Master Data Setup
                        </mat-panel-title>
                        <mat-panel-description>
                            Click to view details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <section class="form-container">
                        <div class="header-label">
                            <span class="hr-image">
                                <img class="img-fluid" [src]="hrImage" alt="logo">
                            </span>
                            <span class="admin-name">Master Data Setup</span>
                        </div>
                        <mat-tab-group [selectedIndex]="selected.value"
                            (selectedIndexChange)="selected.setValue($event)">
                            <mat-tab label="Online Form">
                                <app-super-admin-finance-form-molecule>
                                </app-super-admin-finance-form-molecule>
                            </mat-tab>
                            <mat-tab label="Upload File">
                                <input #excelInput hidden="true" type="file" onclick="this.value=null"
                                    (change)="fileInputChange($event)"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                <button mat-raised-button color="primary" (click)="excelInput.click()"
                                    class="xl-btn">UPLOAD</button>
                                <button mat-raised-button color="primary" (click)="downloadFile($event)"
                                    class="xl-btn">DOWNLOAD</button>
                            </mat-tab>
                        </mat-tab-group>

                    </section>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>