@import "../../../../assets/css/constants.scss";

.breadcrumb{
    font-family: 'Roboto-Regular';
    font-size: 0.85em;
}
.pdp-price{
    font-size: 1.5em;
    margin: 20px 0;
}
.pdp-pdt-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
    height: 350px;
}
.pdp-buttons{
    min-height: 120px;
    .users-qty-feild{
        margin-right: 25px;     
    }
    .subscription-main-btn{
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: $white;
    }
    .atc-btn{
        background-color: $primary-color;
        border-color: $primary-color;
    }
    .error-message{
        font-size: 12px;
        color: red;
    }
}
.pdp-subscription-price{
    .subscription-text{
        display: block;
        padding: 15px 0 0 0;
    }
    .pdp-subscription{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        .subscription-btn{
            display: block;
            margin: 5px 0;
        }
    }
}
.price-plan{
    text-align: center;
border: 1px solid #D6D6D6;
border-top-width: 0;
border-radius: 0 0 6px 6px;
padding: 15px 15px 15px;
line-height: 1.5;
color: #6A6A6A;
position: relative;
&::before{
    content: '';
    position: absolute;
    background: #337ab7;
    top: -5px;
    left: -1px;
    width: calc(100% + 2px);
    height: 5px;
    border-radius: 6px 6px 0 0;
}
.price-subscription{
.main-price{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
}
}
}