<section class="admin-layout">
  <section class="admin-nav-container">
    <app-admin-nav-molecule [userType]="userType"></app-admin-nav-molecule>
  </section>
  <section class="admin-nav-mobile">
    <app-admin-nav-mobile-molecule [userType]="userType"></app-admin-nav-mobile-molecule>
  </section>
  <section class="admin-body-container">
    <div class="admin-header">
      <app-admin-header-molecule [userType]="userType" [pageName]="pageName" [pageTitle]="pageTitle"></app-admin-header-molecule>
    </div>
    <!-- Body Content start -->
    <div class="admin-container">
      <router-outlet></router-outlet>
    </div>
    <!-- Body Content end -->
    
  </section>
</section>