:host {
    width: 100%;
}
.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    .report-filter, .viewby-filter, .groupby-filter, .date-range {
        label {
            padding: 0 10px;
            color: grey;
            font-size: 0.9rem;
        }
        mat-form-field {
            width: 100px;
            font-size: 0.9rem;
        }
    }
    .filter-right {
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .filter-container  {
        display: none !important;
    }
}